<!doctype html>

{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Gunakan Ceph</h1>
          <p>Untuk mengedit kapabilitas user.</p>
        </div>
      </div>

      <form action = "http://localhost:8000/AddUser/EditUser/{{entity}}" method = post>
         <fieldset>
            {{ form.hidden_tag() }}

            <div style = font-size:20px>
               <br>
               Kapabilitas<br>
               OSD<br>
               {{ form.OSDr}}
               {{ form.OSDr.label }}
               {{ form.OSDw}}
               {{ form.OSDw.label }}
               {{ form.OSDx}}
               {{ form.OSDx.label }}<br>
               Monitor<br>
               {{ form.MONr}}
               {{ form.MONr.label }}
               {{ form.MONw}}
               {{ form.MONw.label }}
               {{ form.MONx}}
               {{ form.MONx.label }}<br>
               MDS<br>
               {{ form.MDSr}}
               {{ form.MDSr.label }}
               {{ form.MDSw}}
               {{ form.MDSw.label }}
               {{ form.MDSx}}
               {{ form.MDSx.label }}<br>
              {{ form.submit }}
            </div>
         </fieldset>
      </form>

{% endblock %}

