<!doctype html>

{% extends 'layout.html' %}

{% block body %}
<body>
 <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Gunakan Ceph</h1>
          <p>Untuk membuat user.</p>
        </div>
      </div>
<p id="test"></p>

 <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Overall Status : {{data.output.overall_status}}
        </h3>
      </div>
</div>

 <!--START CEPH MONITOR STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Monitor Status : {{data.output.overall_status}}
        </h3>
      </div>
      <div class="panel-body">
        <!--here we add the monitor status-->
        <div class="row" id="monitor_status"></div>
      </div>
    </div>
<!--END CEPH MONITOR STATUS-->

</body>



{% endblock %}

