<!doctype html>

{% extends 'layout.html' %}

{% block body %}
<body>
 <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Gunakan Ceph</h1>
          <p>Untuk memantau kondisi</p>
        </div>
      </div>
<p id="test"></p>
<a href="/Kirim" target="blank"><button class='btn btn-default'>Download!</button></a>

 <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
	Kondisi Cluster fsid {{data1.output.fsid}} : {{data.output.status}} <br><br>
	<p>
	Kondisi monitor	: {{data.output.checks.MON_DOWN.severity}} <br>
	Keterangan	: {{data.output.checks.MON_DOWN.summary.message}} <br><br>
	Kondisi pool    : {{data.output.checks.POOL_APP_NOT_ENABLED.severity}} <br>
	Keterangan	: {{data.output.checks.POOL_APP_NOT_ENABLED.summary.message}} <br><br>
	Kondisi	pg	: {{data.output.checks.SMALLER_PGP_NUM.severity}} <br>
        Keterangan      : {{data.output.checks.SMALLER_PGP_NUM.summary.message}} <br><br>
	
	Keterpakaian 	: {{datum}}% <br><br>
	</p>
        </h3>
      </div>
</div>


</body>



{% endblock %}

